In [3]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
###print range 10 to 20
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [7]:
# Print number of items in the list by using 'len'
list=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:",len(list))

Number of item in the List2: 7

In [8]:
## to print Artificial Intelligence ###
str="Artificial Intelligence"
for i in str:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
"""
Display
-Your Name-
-Your Age-
-Your Profession-
"""
your_name=input("-Your Name-")
your_age=input("-Your Age-")
your_profession=input("-Your Profession-")

-Your Name- chenthil
-Your Age- 43
-Your Profession- Engineer

In [10]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples

###(1, 'Welcome', 2, 'Hope')
#####

tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [16]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3= ((Tuple1), (Tuple2))
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [14]:
list1=(20,10,16,19,25,1,276,188)

for i in list1:
    if (i%2 == 1):
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [15]:
list1=(20,10,16,19,25,1,276,188)

for i in list1:
    if (i%2 == 0):
        print(i, "is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd